$color-main: #8a2b06;
$color-main-light: #b94517;
$color-main-dark: #92320c;
$color-main-very-dark: #4d1601;

$color-gray-very-light: #fff;
$color-gray-dark: #3f3f3f;
$color-gray-very-dark: #2c0d00;

$color-overlay: #000000bf;
